/* General Styles */
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}
/* Header */
header {
    /*position: absolute;
    top: 0px;  Attach to the top of the viewport.Works only with absolute positioning */
    height: 10%;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    border: 3px solid red;
}

footer {
   /* position:absolute;
    bottom: 0px;  Attach to the bottom of the viewport. Works only with absolute positioning*/
    height: 5%;
    width:100%;
    color: #333;
    background-color: lightslategrey;
    text-align: center;
    border: 3px solid #73AD21;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: #333;
}

.home_page{
    
}
.image-placeholder {
    width: 400px; /* Set width of the placeholder */
    height: 400px; /* Set height of the placeholder */
    background-color: #cccccc; /* Set placeholder background color */
    border-radius: 50%; /*Makes the placeholder a circle*/
}


.flex_row {
    display: flex;
    flex-direction: row;
}
.flex_column {
    display: flex;
    flex-direction: column;
}
.about_page {
    height: 85%;
    width: 100%;   
}
.about_info {
    /*position:absolute;*/
    top:0px;
    height: 70%;
    display: flex;
    place-items: center;
}
.about_contact {
    /*position:absolute;*/
    width:100%;
    bottom:0px;
    display:flex;
    justify-content:center;  
}
.photography_page{

}
.videography_page{

}
.gallery{

}
