/* General Styles */
html,body {
    height: 100%;
    width: 100%;
}

/* Header */
header {
    top: 0px; /* Attach to the top of the viewport */
    width:100%;
    background: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    border: 3px solid red;
}

footer {
    bottom: 0px; /* Attach to the bottom of the viewport */
    width:100%;
    color: #333;
    background-color: lightslategrey;
    text-align: center;
    border: 3px solid #73AD21;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: #333;
}

.home_page{
    
}
.image-placeholder {
    width: 400px; /* Set width of the placeholder */
    height: 400px; /* Set height of the placeholder */
    background-color: #cccccc; /* Set placeholder background color */
    border-radius: 50%; /*Makes the placeholder a circle*/
}


.flex_row {
    display: flex;
    flex-direction: row;
}
.flex_column {
    display: flex;
    flex-direction: column;
}
.about_page {
    height:100%;
    width: 100%;
    
}
.about_info {
    position: relative;
    top: 0; /* Attach to the top of the viewport */
    width:100%;
    align-content: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.about_contact {
    position:relative;
    bottom: 0; /* Attach to the bottom of the viewport */
    width:100%;
    padding: 10px;
    
}
.photography_page{

}
.videography_page{

}
.gallery{

}
